* {
    font-family: 'Poppins', sans-serif;;
}

body {

}

.container {
    width: 80vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    gap: 30px;
}

img {
    height: 150px;
    object-fit: contain;
}

aside {
    max-height: 50vh;
    overflow-y: scroll;
}

h2 {
    align-self: center;
}

#crypto-choices {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#crypto-choice {
    border-radius: 8px;
    width: 20vw;
}

#change-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#monnaie {
    background-image: url('https://us.123rf.com/450wm/tassel78/tassel781205/tassel78120500014/13761816-illustration-pi%C3%A8ce-d-or-isol%C3%A9-sur-fond-blanc.jpg?ver=6');
    background-color: white;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;  ;
    font-size: 2.2em;
    display: flex;
    text-shadow: -1px 2px 3px #8a5100;
    color: #fff597;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
}

#monnaie::first-letter {
    font-size: 5rem;
}

#egal {
    background-image: url('./img/icons8-signe-égal-96.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    font-size: 2.5em;
}

#prix {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

